.card-body{
	text-align: center;
}

.card-body p{
	line-height: 100px;
}
.admin_bar{
	text-align:end; 
	margin-top:-20px;
}

.center-align{
	margin-top: -10px;
    text-align: left;
}

.end-align{
	text-align:end
}